/* Your custom CSS here */
* {
    font-family: 'Century Gothic';
}
html, body {
    width: 100%;
    height: 100%;
}
html, body, h1, h2, h3, h4, h5, h6, div, ul, p {
    padding: 0;
    border: 0;
    margin: 0;
}
